# Standard clang-format options for 3C C++ code, excluding test input files in
# `clang/test/3C`.

# To our current knowledge, 3C-specific files are identified by a path component
# starting with `3[Cc]`. Almost all of these are in `clang/lib/3C`,
# `clang/include/clang/3C`, or `clang/tools/3c`, and we have `.clang-format`
# files covering all three directories. There are a few 3C-specific files at
# `clang-tools-extra/clangd/3C*.{cpp,h}` as well as bits of 3C code in other
# files (only inside `#ifdef INTERACTIVE3C` in `clang-tools-extra/clangd` to our
# knowledge), but all this code is currently unmaintained, so we can use more
# specialized processes to format it in the unlikely event that we change it.

# Unfortunately, there's no .clang-format inheritance, so we have to duplicate
# the content of clang/.clang-format, which fortunately is very short:
BasedOnStyle: LLVM

# Custom options for 3C.

# Brief experience (as of 2020-11-11) suggests that reflowing comments is more
# trouble than it's worth. We'll catch long lines by other means TBD.
ReflowComments: false
